version: '3.8'

services:
    mongo:
        image: mongo:latest
        restart: always
        environment:
            MONGO_INITDB_ROOT_USERNAME: ${MONGO_INITDB_ROOT_USERNAME}
            MONGO_INITDB_ROOT_PASSWORD: ${MONGO_INITDB_ROOT_PASSWORD}
        ports:
            - '${MONGO_PORT}:27017'
        volumes:
            - mongodb_data:/data/db
        healthcheck:
            test: echo 'db.runCommand("ping").ok' | mongosh localhost:27017/test --quiet
            interval: 10s
            timeout: 5s
            retries: 5

    mongo-express:
        image: mongo-express
        restart: always
        ports:
            - '${MONGO_EXPRESS_PORT}:8081'
        environment:
            ME_CONFIG_MONGODB_ADMINUSERNAME: ${ME_CONFIG_MONGODB_ADMINUSERNAME}
            ME_CONFIG_MONGODB_ADMINPASSWORD: ${ME_CONFIG_MONGODB_ADMINPASSWORD}
            ME_CONFIG_MONGODB_URL: mongodb://${ME_CONFIG_MONGODB_ADMINUSERNAME}:${ME_CONFIG_MONGODB_ADMINPASSWORD}@mongo:27017/
            ME_CONFIG_BASICAUTH: ${ME_CONFIG_BASICAUTH}
        depends_on:
            mongo:
                condition: service_healthy

    minio:
        image: minio/minio:latest
        volumes:
            - minio_data:/data
        ports:
            - '${MINIO_PORT}:9000'
            - '${MINIO_CONSOLE_PORT}:9001'
        command: ['server', '/data', '--console-address', ':9001']
        environment:
            MINIO_ACCESS_KEY: ${MINIO_ACCESS_KEY}
            MINIO_SECRET_KEY: ${MINIO_SECRET_KEY}
        healthcheck:
            test: ['CMD', 'curl', '-f', 'http://localhost:9000/minio/health/live']
            interval: 30s
            timeout: 20s
            retries: 3

    redis:
        image: 'redis:alpine'
        command: 'redis-server --appendonly yes'
        ports:
            - '${REDIS_PORT}:6379'
        volumes:
            - redis_data:/data
        healthcheck:
            test: ['CMD', 'redis-cli', 'ping']
            interval: 10s
            timeout: 5s
            retries: 5

    minio_init:
        image: minio/mc
        depends_on:
            minio:
                condition: service_healthy
        environment:
            MINIO_ACCESS_KEY: ${MINIO_ACCESS_KEY}
            MINIO_SECRET_KEY: ${MINIO_SECRET_KEY}
            MINIO_BUCKET_TEST: ${MINIO_BUCKET_TEST}
            MINIO_BUCKET_TEMP: ${MINIO_BUCKET_TEMP}
            MINIO_BUCKET_LIB: ${MINIO_BUCKET_LIB}
        entrypoint: >
            /bin/sh -c "
            sleep 5;
            /usr/bin/mc alias set h5pminio http://minio:9000 $$MINIO_ACCESS_KEY $$MINIO_SECRET_KEY;
            /usr/bin/mc mb h5pminio/$$MINIO_BUCKET_TEST || true;
            /usr/bin/mc mb h5pminio/$$MINIO_BUCKET_TEMP || true;
            /usr/bin/mc mb h5pminio/$$MINIO_BUCKET_LIB || true;
            exit 0;
            "

volumes:
    mongodb_data:
    minio_data:
    redis_data:
